.my-message {
  position: relative;
  padding: 7rem;
  margin-top: 20px;
  border-radius: 2px;
  margin-right: 30px;
  width: 80rem;
  box-shadow: $shadow-dark;
  @include responsive(big-desktop) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include responsive(phone) {
    width: 100%;
    
  }
}
.my-message__text {

  & h2 {
    margin-bottom: 2rem;
  }

}
.my-message__shape {
  float: left;
  width: 18rem;
  height: 18rem;
  shape-outside: circle(50% at 50% 50%); //LAS MEDIDAS HAN DE ESTAR DEFINIDAS
  // background-color: silver;
  transform: translateX(-3rem);

  // clip-path: circle(50% at 50% 50%);
  @include responsive(phone) {
    width: 9rem;
    height: 9rem;
    transform: translateX(-1rem);
  }
}

.my-message__image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;

}
.my-message__image--1 {
  background-image: url('../assets/img/message--rey.jpg');

}
.my-message__image--2 {
  background-image: url('../assets/img/message--deadpool.jpg');

}
.my-message__image--3 {
  background-image: url('../assets/img/message--gandalf.jpg');

}
.my-message__image--4 {
  background-image: url('../assets/img/paimei.jpg');
}
.my-message__image--5 {
  background-image: url('../assets/img/message--arnold.jpg');
}





